body {
    overflow: hidden;
    -webkit-user-select: none;
    padding: 0px;
    margin-bottom: 0px;
    background-color: tranparent;
    font-family: Cantarell, sans-serif;
    font-size: 12px;
}

[draggable] {
      -webkit-user-select: none;
}

#launcher {
    background: rgba(20, 20, 20, 0.6);
    border-color: rgba(16,32,48,0.1); /*#102030;*/
    border-style: solid;
    border-width: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    z-index: 4;
    -webkit-transition: max-height 5s ease-out;
    -webkit-transform-origin: center bottom;
}	

.ui-launcher-entry-wrapper {
    display: inline-block; 
    width: 120px;
    height: 72px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-launcher-entry-wrapper:hover {
    background-color: rgba(220,220,220,0.4);
    -webkit-transition: all 0.5s ease-out;
    border-color: transparent;
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;    
}

.ui-launcher-entry {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    cursor: pointer;
    text-align: center;
    z-index: inherit;
}

.ui-launcher-entry:hover {
}

.ui-launcher-entry span {
    word-wrap: break-word;
    display: block;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px #000;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.ui-launcher-entry-img-holder {
    display: -webkit-box;
    margin-top: 5px;
    width: 48px;
    height: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: center;
}

.ui-launcher-entry img {
    width: 38px;
    height: 38px;
    -webkit-transition: all 100ms ease-out;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.ui-launcher-entry img:hover {
    width: 48px;
    height: 48px;
}

.ui-launcher-entry span:hover {
    text-shadow: 0 2px 2px #000;
}

.ui-bin-img {
    margin-left: auto;
    margin-right: auto;
    width: 38px;
    height: 38px;
    -webkit-transition: all 100ms ease-out;
}

.ui-bin-img-enter {
    width: 48px;
    height: 48px;
}

.ui-bin:hover {
    width: 48px;
    height: 48px;
} 

#base {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: center;
    width: 100%;
    height: 100%;
}

.ui-bin {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(150, 150, 150, 0.8);
    opacity: 0;
    -webkit-transition: all 100ms ease-out;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: rgba(0,0,0,0.5);
}

.ui-bin.enter {
    background-color: red;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(128,128,128,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/******* POPUP *********/

#popup {
    cursor: pointer;
    background-color: #4D4D4D;
    width: 100%;
    height: 1px;
}
